* {
  margin: 0;
  padding: 0;
}
ul {
  width: 300px;
  height: 260px;
}

li {
  list-style: none;
  width: 300px;
  height: 50px;
  border: 2px solid black;
}

.menu {
  display: none;
}
.menu.active {
  display: block;
}

.menu-kleur{
  margin-top: 10px;
}


i {
  margin-top: 50px;
  margin-left: 50px;
}

.home {
  background-color: grey;
  text-align: center;
  
}

.red {
  background-color: red;
  text-align: center;
}
.orange {
  background-color: orange;
  text-align: center;
}

.purple {
  background-color: purple;
  text-align: center;
}

.green {
  background-color: green;
  text-align: center;
}
